@font-face {
    font-family: 'fonte';
    src: url('../fonts/MyriadPro-BoldCond.eot');
    src: url('../fonts/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-BoldCond.woff') format('woff'), url('../fonts/MyriadPro-BoldCond.ttf') format('truetype'), url('../fonts/MyriadPro-BoldCond.svg#vag') format('svg');
    font-style: normal;
}

.fonte {
    font-family: fonte;
}
@font-face {
    font-family: 'fontecond';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg#vag') format('svg');
    font-style: normal;
}

.fontecond {
    font-family: fontecond;
}
html, body {
    height:100%;
}
body{
    background-color: #ddd;
}
.navbar{
    background: transparent;
    border: none;
}
.topo{
    border-top: 3px rgb(255, 133, 0) solid;
    /*height: 624px;*/
    background-image: url('../img/fundo_topo.png');
    background-repeat: repeat-x;
    background-color: #ddd;
}
.logo{
    height: 30px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    width: 201px;
    top: 40px;
    position: absolute;
    left: 150px;
}
.conteudo{
    min-height: 250px;
}
.rodape{
    background-color: #242424;
    display: block;
    position: relative;
    overflow: auto;
    margin-top: 15px;
}
.rodape .rodape_nivel_1{
    padding: 15px;
    margin: 15px;
    height: 90px;
}
.rodape .rodape_nivel_1 div{
    background: none;
}
.rodape .rodape_nivel_2{
    font-size: 0.7em;
    background-color: #2E2E2E;
    color: #fff;
}
.rodape .rodape_nivel_2 a{
    color: #fff;
}
.rodape .rodape_nivel_2 div{
    padding: 15px;
    background-color: #2E2E2E;
}
.social{
    background-image: url('../img/sedes_sociais.png');
    height: 43px;
    width: 43px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.social:hover{
    background-image: url('../img/sedes_sociaishover.png');
    height: 43px;
    width: 43px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.social_facebbok{
    background-position: 0px 0px;
}
.social_twitter{
    background-position: -45px 0px;
}
.social_google_plus{
    background-position: -90px 0px;
}
.social_linkedin{
    background-position: -135px 0px;
}
.social_flick{
    background-position: -180px 0px;
}

.navbar.navbar-default{
    padding-top:32px;
}
.navbar {
    background-image: none;
    background-repeat: no-repeat;
    border-radius: 0;
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a {
    color: #fff;
    background-color: transparent;
}
.navbar .navbar-nav>.active>a {
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #CA501F;
    background-color: transparent;
}

#carousel{
    height: 500px;
    margin-top: 35px;
}
.carousel-inner>.item {
    text-align: center;
    margin: 0 auto;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img{
    text-align: center;
    margin: 0 auto;
}
.carousel-indicators {
    position: absolute;
    bottom: 460px;
    left: 0;
    z-index: 15;
    width: 98%;
    padding-left: 0;
    margin-left: 0;
    text-align: right;
    list-style: none;
    margin-right: 15px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
}
.max-largura{
    max-width: 980px; margin: 0 auto;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    background-color: #343E44;
}
.rodape_social {
    text-align: center;
}
.carousel-indicators {
    position: absolute;
    bottom: 0;
    left: auto;
    z-index: 15;
    width: 100%;
    padding: initial;
    margin: auto;
    text-align: right;
    list-style: none;
    right: 15px;
}
@media (min-width: 768px){ 
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
        background-color: transparent !important;
    }
    .rodape_social {
        text-align: right;
    }
}
.planos {
    font-size: 1em;
}
.planos h2 a {
    font-size: 1em;
    text-decoration: none;
    color: #555;
}
.link_planos {
    color: #CA501F;
    display: block;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.texto-titulo{
    color: #797979;
    font-size: 2.5em;
}
.texto-sub-titulo{
    color: #797979;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 0.9em;
}
.texto-conteudo{
    color: #898989;
    font-size: 1em;
}
.texto-borda{
    background-color: #ededed;
    border-radius: 5px;
    overflow: auto;
    display: block;
    margin-bottom: 15px;
    padding-bottom: 20px;
    margin-top: 10px;
}
.conteudo .conteudo_titulo_pagina {
    background: #ddd;
    height: 80px;
    width: 100%;
    background: -webkit-gradient(linear,left top,left bottom,from(#ddd),to(#f7f7f7));
    background: -moz-linear-gradient(top,#c0c0c0,#f0f0f0);
    background: -o-linear-gradient(top,#c0c0c0,#f0f0f0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c0c0',endColorstr='#f0f0f0');
    border-bottom: 1px solid #f0f0f0;
}
.navbar-default .navbar-nav>li>a {
    font-size: 20px;
    text-decoration: none;
    font-weight: normal;
    padding-top: 20px;
}
.texto_rodape {
    font-size: 12px;
    text-decoration: none;
    color: #999;
}